{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <form action="/login" method="post" class="form-contact">
            <p><div class="form-group">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" required>
            </div>
            <p><div class="form-group">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" required>
            </div>
            <p><button type="submit">Log in</button>
        </form>
{% endblock %}